include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include pyproject.toml
recursive-include autoglm *.py
recursive-include autoglm *.typed
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude *.so